.DS_Store
.atom/
.dart_tool/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
